@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://mapnagenerator.com/En" target="_blank">درباره پارس</a>
            <a href="" target="_blank">داشبورد</a>
            <a href="" target="_blank">تلفن</a>
            <a href="" target="_blank">گزارشات</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

